fabric==2.7.0
Flask==2.2.2
Markdown==3.1.1
matplotlib==3.7.0
numpy==1.20.3
pandas==1.3.4
pytz==2021.3
PyYAML==6.0
setuptools==58.0.4
tabulate==0.7.5
flask_bootstrap
flask_moment
flask_pagedown
flask_sqlalchemy
flask_wt