{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Welcome{% endblock %}

{% block page_content %}


    <!-- content start -->

    <div class="page-header">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ul>
    <li><a href="https://www.w3.org/TR/webrtc-stats">WebRTC Statistic Dictionary</a>
    </li>
    <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_Statistics_API">WebRTC Statistic API</a>
    </li>
    <li> <a href="https://nshipster.com/network-link-conditioner)">network-link-conditioner</a></li>
    <li> <a href="https://www.linux.org/docs/man8/tc-netem.html">tc-netem</a></li>
    <li> <a href="https://testrtc.com/webrtc-internals-parameters/">webrtc-internals-parameters</a></li>
</ul>


</div> <!-- content end -->

{% endblock %}